/* This is a CSS COmment */
/* CSS RESET - Applied to everything */
*{
    margin: 0;
    padding: 0;


}


/* This block targets the <body> */
body {
    background-color: rgb(16, 202, 99);
    font-family: Arial, Verdana, sans-serif;
    font-size: 18px;
    line-height: 1.6; /* seperate lines for readability */
}
/* GROUP SELECTOR */
h1, h2, h3, h4, h5, h6{
    margin-bottom: 0.5em; /* scales with the font size */
}